<!DOCTYPE html>
<html>
<head>
  <meta charset = "UTF-8">
  <title>화재감지 시스템</title>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css"/>
</head>
<body>
<h1><%= temp1 %></h1>
<div id="container">
  <div class ="num1" id = "num1">
    <div class ="inside-first" id = "one">
      <div class ="inside-second-left" id = "one-left">

      </div>
      <div class ="inside-second-right" id = "one-right">

      </div>
    </div>
    <div class ="inside-first" id = "two">
      <div class ="inside-second-left" id = "two-left">

      </div>
      <div class ="inside-second-right" id = "two-right">

      </div>
    </div>
    <div class ="inside-first" id = "three">
      <div   style = "background-color:white; z-index:1" class ="inside-second-left" id = "three-left" >

      </div>
      <div class ="inside-second-right" id = "three-right">

      </div>
    </div>
    <div class ="inside-first" id = "four">
      <div class ="inside-second-left" id = "four-left">

      </div>
      <div class ="inside-second-right" id = "four-right">

      </div>
    </div>
    <div class ="inside-first" id = "five">
      <div class ="inside-second-left" id = "five-left">

      </div>
      <div class ="inside-second-right" id = "five-right">

      </div>
    </div>
    <div class ="inside-first" id = "six">
      <div class ="inside-second-left" id = "six-left">

      </div>
      <div class ="inside-second-right" id = "six-right">

      </div>
    </div>
  </div>

  <div class ="num1" id = "num3">
    <div class ="inside-first" id = "one3">
      <div class ="inside-second-left" id = "one-left3">

      </div>
      <div class ="inside-second-right" id = "one-right3">

      </div>
    </div>
    <div class ="inside-first" id = "two3">
      <div class ="inside-second-left" id = "two-left3">

      </div>
      <div class ="inside-second-right" id = "two-right3">

      </div>
    </div>
    <div class ="inside-first" id = "three3">
      <div class ="inside-second-left" id = "three-left3">

      </div>
      <div class ="inside-second-right" id = "three-right3">

      </div>
    </div>
    <div class ="inside-first" id = "four3">
      <div class ="inside-second-left" id = "four-left3">

      </div>
      <div class ="inside-second-right" id = "four-right3">

      </div>
    </div>
    <div class ="inside-first" id = "five3">
      <div class ="inside-second-left" id = "five-left3">

      </div>
      <div class ="inside-second-right" id = "five-right3">

      </div>
    </div>
    <div class ="inside-first" id = "six3">
      <div class ="inside-second-left" id = "six-left3">

      </div>
      <div class ="inside-second-right" id = "six-right3">

      </div>
    </div>
  </div>
  <div class ="num1" id =  "num2">
    <div class ="inside-first" id = "one2">
      <div class ="inside-second-left" id = "one-left2">

      </div>
      <div class ="inside-second-right" id = "one-right2">

      </div>
    </div>
    <div class ="inside-first" id = "two2">
      <div class ="inside-second-left" id = "two-left2">

      </div>
      <div class ="inside-second-right" id = "two-right2">

      </div>
    </div>
    <div class ="inside-first" id = "three2">
      <div class ="inside-second-left" id = "three-left2">

      </div>
      <div class ="inside-second-right" id = "three-right2">

      </div>
    </div>
    <div class ="inside-first" id = "four2">
      <div class ="inside-second-left" id = "four-left2">

      </div>
      <div class ="inside-second-right" id = "four-right2">

      </div>
    </div>
    <div class ="inside-first" id = "five2">
      <div class ="inside-second-left" id = "five-left2">

      </div>
      <div class ="inside-second-right" id = "five-right2">

      </div>
    </div>
    <div class ="inside-first" id = "six2">
      <div class ="inside-second-left" id = "six-left2">

      </div>
      <div class ="inside-second-right" id = "six-right2">

      </div>
    </div>
  </div>

</div>
</body>
</html>
